*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}


.central{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

#title_word {
    text-align: center;
    color: rgb(15,28,37);
}

#homepage {
    background: url(https://i.guim.co.uk/img/media/4ab338ccf0591167154de14c474cbe3e110e4d20/476_376_2524_1514/master/2524.jpg?width=1900&quality=45&dpr=2&s=none);
    background-repeat: no-repeat;
    background-size: cover;
}



#onlythesebuttons {
    padding: 10px 60px;
    background: rgb(30,55,73);
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;

}

