/* CSS and design to-do:
1) Fix the centering issue when you click the home button //
2) Scrollable backgrounds need to go - THIS IS PISSING ME OFF
3) Pop up flag report needs to be in the center & close button// (not really in the center but its above the reports part so i think it's good enough
4) Dim the background when viewing  flagged reports/ pop up (WILL BE QUITE DIFFICULT) 
5) Clean up different CSS stuff - it's a mess --> in progress
6) Add a button to close the message saying there's no issues with the report //*/

/*possible issues with the Javascript:
1) When you try and get off reports e.g. report 1 it stays in the title of the webpage*/

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

body {
  margin: 0;
}

a{
    text-decoration: none;
    color: black;
}
.central{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

#title_word {
  text-align: center; 
  color: rgb(15,28,37);
  font-weight: 700;
  }
    /*text-align:justify;
    max-width: 50%;
    */


#homepage {
    background: url(green\ grass\ and\ flowers\ near\ water.jpg)/* Link to the new image on Pexels: https://www.pexels.com/photo/green-grass-and-flowers-near-water-5908897/ This is the old one: url(https://i.guim.co.uk/img/media/4ab338ccf0591167154de14c474cbe3e110e4d20/476_376_2524_1514/master/2524.jpg?width=1900&quality=45&dpr=2&s=none)*/;
    background-size: cover;
    width: 100%;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    margin: 0;
    display:block;
    /*This deals with what's inside the image on the page*/
    display:flex;
    align-items: center;
    justify-content: center;
}

input.link { background:none; border:none; }

table {
    border: 10px solid;
    background-color:white;
    color: rgb(15,28,37);
    table-layout: flex;
    position:fixed;
    top:20%;
    left: 25%;
    right: 25%;
    max-width: 50%;
    /*border: 3px solid #f1f1f1;*/
    z-index: 9;
    text-align: center;
  }

td{
    text-align: center;
    width: 25% ;
}

th{
    text-align: center;
    width: 25% ;
}

#downloadButton{
    padding: 2.5px 10px;
    background:rgb(255, 255, 255);
    color: rgb(15,28,37);
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    border-radius: 15px;
}

#reportsPage {
  overflow: hidden;
  background: url(Green\ grass\ near\ body\ of\ water.jpg)/* Link to the new image on Pexels: https://www.pexels.com/photo/green-grass-and-flowers-near-water-5908897/ This is the old one: url(https://i.guim.co.uk/img/media/4ab338ccf0591167154de14c474cbe3e110e4d20/476_376_2524_1514/master/2524.jpg?width=1900&quality=45&dpr=2&s=none)*/;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  display:block;
  /*This deals with what's inside the image on the page*/
  display:flex;
  align-items: center;
  justify-content: center; 
}

.blocking {
  background-color:rgb(15,28,37);
  padding: 20px;
  padding-bottom: 20px;
  width: 90%;
  margin: 50px;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blocking div:last-of-type{
  background-color: transparent;
}

/* Maybe don't need this one?*/
#background-downloads {
  background: url(sewanalyst\ logo.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;

}


#onlythesebuttons {
    padding: 10px 60px;
    background: rgb(30,55,73);
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 250;
    border-radius: 30px;
    box-shadow: 2px 2px 5px #333;

}

#greenWarning {
    fill: green;
}

#yellowWarning {
    fill: rgb(254, 157, 11);
}

#redWarning {
    fill: red;
}


#alerts {
  width: 7.5%;
  position:relative;
}

.flagReportFormBox {
  border-radius: 15px;
  display: none;
  position:fixed;
  top:20%;
  left: 45%;
  max-width: 60%;
  z-index: 9;
}

.reportsGrouping {
  display: none;
  position: fixed;
  top:20%;
  left: 45%;
  max-width: 60%;
  z-index: 9;
}

#noreason {
  max-width:30%;
  background-color: rgb(195,204,222);
  top: 50%;
  left: 45%;
  border-radius: 25px;
  display: fixed;
  align-items: center;
  text-align: center;
  font-size:15px;
  font-weight: 600;
}

.table2 {
  border: 10px white;
  background-color:  rgb(195,204,222);
  /*width: 50%;*/
  color: black;
}


.formContainer {
  border-radius: 15px;
  border:10px rgb(255, 255, 255);
  padding:10px;
  background-color:rgb(15,28,37);


}

.formContainer input[type="text"], .formContainer input[type="submit"]{
  width:100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: white;
}


.formContainer .btn {
  background-color: #04AA6D;
  color: white;
  /*padding: 16px 20px;*/
  outline:none;
  cursor: pointer;
  max-width: 45%;
  font-size: 15px;
  font-weight: 600;
  margin-bottom:10px;
  opacity: 0.95;
  border-radius:30px ;
  
  box-shadow:2px 2px 5px #333 ;
}

.formContainer .cancel {
  background-color: red;
}

.cancel2 {
  background-color:rgb(15,28,37);
  color: white;
  /*padding: 16px 20px;*/
  display:fixed;
  text-align: center;
  outline:none;
  cursor: pointer;
  max-width: 45%;
  font-size: 15px;
  font-weight: 600;
  margin-bottom:10px;
  opacity: 0.95;
  border-radius:30px ;
  box-shadow:2px 2px 5px #333 ;
}

#centering {
  text-align: center;
  top: 20%;
  display: fixed;
  left: 50%;
}


.formContainer .btn:hover, .open-button:hover {
  opacity: 1;
}


/*this is all for the download's button I think - won't touch this when fixing the CSS*/
.btn-cool
{
    position: relative;
    width: 200px;
    height: 70px;
    background: #444;
    color: #999;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.8s;
    transition-delay: 0.5s;
    overflow: hidden;
}
.btn-cool .fas
{
    margin-right: 8px;
}
.btn-cool .download
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
    transition: 0.3s;
}
.btn-cool.active .download
{
    transform: translate(-50%,60px);
    animation: bottom_top 0.5s linear forwards;
    animation-delay: 12s;
}
.btn-cool .completed
{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-60px);
    white-space: nowrap;
    color: #222;
}
.btn-cool.active .completed
{
    animation: top_bottom 1.3s linear forwards;
    animation-delay: 6.5s;
}
.btn-cool.active
{
    width: 600px;
    height: 15px;
    animation: btn_width 4.5s linear forwards;
    animation-delay: 5s;
}
.btn-cool.active::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #5c5cff;
    animation: before_active 10s linear forwards;
    animation-delay: 1.5s;
}
.btn-cool.active::after
{
    content: '\f00c';
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "Font Awesome 5 Free";
    color: #222;
    transform: translate(-50%,-50%) scale(0);
    transition: 0.3s;
    animation: check_scale 2s linear forwards;
    animation-delay: 8.5s;
  }
  @keyframes before_active
  {
    0%
    {
      width: 0%;
      height: 100%;
    }
    30%,95%
    {
      width: 100%;
      height: 100%;
    }
    100%
    {
      width: 100%;
      height: 0%;
    }
  }
  @keyframes btn_width
  {
    0%
    {
      width: 600px;
      height: 15px;
    }
    20%,70%
    {
      width: 200px;
      height: 70px;
    }
    80%,90%
    {
      width: 100px;
      height: 100px;
    }
    100%
    {
      width: 200px;
      height: 70px;
    }
  }
  @keyframes top_bottom
  {
    0%
    {
      transform: translate(-50%,-60px);
    }
    20%,90%
    {
      top: 50%;
      transform: translate(-50%,-50%);
    }
    100%
    {
      top: 120%;
      transform: translate(-50%,-50%);
    }
  }
  @keyframes bottom_top
  {
    0%
    {
      transform: translate(-50%,60px);
    }
    100%
    {
      transform: translate(-50%,-50%);
    }
  }
  @keyframes check_scale
  {
    0%
    {
      transform: translate(-50%,-50%) scale(0);
    }
    20%,90%
    {
      transform: translate(-50%,-50%) scale(1.3);
    }
    100%
    {
      transform: translate(-50%,100px) scale(1.3);
    }
  }

