<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href = "{{url_for('static', filename='bootstrap.css')}}">
    <link rel="icon" href="{{url_for('static', filename='favicon.jpg')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
    <title>Sewanalyst</title>
</head>
<body> 
<div class = "container-fluid">
    <div class = "sub-container">
        <div class = "container1">
            <h1>SewAnalyst</h1>
            <p class = "lead">
                The STW Data Analysis Software
            </p>
        </div>
        <div class = "container2">
            <form action = "/upload" method = "post" enctype = "multipart/form-data">
                <input type="file" name="csv file"  placeholder="csv file" value="{{ request.form['csv data'] }}">
                <button type="submit">Submit</button>
            </form>
        </div>
        
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}

        
        <button id = "helpButton" class = "help">Help</button>
            <div id = "helper">
                <div class = "helpContent">
                    <span class = "close">
                        &times;
                    </span>
                    <div class = "helpBody">
                        <p>SewAnalyst is a data analysis software which generates reports based on data from UK-based STWs. Its primary goal is to identify discrepancies reported data and legal guidelines, generating reports that answer the following questions:</p>
                        <ol>
                            <li>Do water companies accurately and consistently assess PE for individual STW’s?</li>
                            <li>Do water companies accurately calculate DWF and FFT using the prescribed EA guidance?</li>
                            <li>Does the EA routinely and robustly Qualitatively Assure (QA) these calculations and measures by the water companies thus ensuring provision of adequate sewage treatment capacity at water company STW’s?</li>
                        </ol>
                        <p>Data should be in a .csv format</p>
                        <p>Data should be composed of the following attributes:</p>
                        <ul>
                            <li>Solar Population Equivalence</li>
                            <li>Reported Population Equivalence</li>
                            <li>Per-Capita Domestic Flow</li>
                        </ul>
                        <p>For more information on the EA's prescribed guidance click <a href = "https://www.gov.uk/guidance/discharges-to-surface-water-and-groundwater-environmental-permits" target="_blank"> HERE</a></p>
                         <p>For more information on formatting to CSV click <a href = "https://help.sharpspring.com/hc/en-us/articles/115001035567-Formatting-CSV-Files-for-Import" target="_blank"> HERE</a></p>

                    </div>
                </div>
            </div>
    </div>
</div>
<!-- WAVE SVG -->
    <svg id="waveBottom" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
        <path id = "pathBottom" d="M0 461L37.5 458C75 455 150 449 225 459C300 469 375 495 450 505.8C525 516.7 600 512.3 675 497.5C750 482.7 825 457.3 862.5 444.7L900 432L900 601L862.5 601C825 601 750 601 675 601C600 601 525 601 450 601C375 601 300 601 225 601C150 601 75 601 37.5 601L0 601Z" fill="#041326" stroke-linecap="round" stroke-linejoin="miter"></path>
    </svg>
<!-- SCRIPT FOR SVG WAVE -->
<script>

function morph(d){
    let m = anime({
        targets: document.getElementById("pathBottom"),
        d: [
            {value: d}
        ],
        duration: 2000,
        easing: "linear",
        elasticity: 2000
        }
    )
    m;
}

waveTops = ["M0 461L37.5 458C75 455 150 449 225 459C300 469 375 495 450 505.8C525 516.7 600 512.3 675 497.5C750 482.7 825 457.3 862.5 444.7L900 432L900 601L862.5 601C825 601 750 601 675 601C600 601 525 601 450 601C375 601 300 601 225 601C150 601 75 601 37.5 601L0 601Z",
"M0 464L37.5 474.8C75 485.7 150 507.3 225 518.8C300 530.3 375 531.7 450 531.8C525 532 600 531 675 518.2C750 505.3 825 480.7 862.5 468.3L900 456L900 601L862.5 601C825 601 750 601 675 601C600 601 525 601 450 601C375 601 300 601 225 601C150 601 75 601 37.5 601L0 601Z",
"M0 407L37.5 412.5C75 418 150 429 225 444.2C300 459.3 375 478.7 450 477.5C525 476.3 600 454.7 675 449.3C750 444 825 455 862.5 460.5L900 466L900 601L862.5 601C825 601 750 601 675 601C600 601 525 601 450 601C375 601 300 601 225 601C150 601 75 601 37.5 601L0 601Z",
"M0 452L37.5 463.8C75 475.7 150 499.3 225 510.8C300 522.3 375 521.7 450 500.5C525 479.3 600 437.7 675 435.5C750 433.3 825 470.7 862.5 489.3L900 508L900 601L862.5 601C825 601 750 601 675 601C600 601 525 601 450 601C375 601 300 601 225 601C150 601 75 601 37.5 601L0 601Z",
"M0 429L37.5 448.8C75 468.7 150 508.3 225 524.7C300 541 375 534 450 524.8C525 515.7 600 504.3 675 494.5C750 484.7 825 476.3 862.5 472.2L900 468L900 601L862.5 601C825 601 750 601 675 601C600 601 525 601 450 601C375 601 300 601 225 601C150 601 75 601 37.5 601L0 601Z",
"M0 483L37.5 492.8C75 502.7 150 522.3 225 507.8C300 493.3 375 444.7 450 432.7C525 420.7 600 445.3 675 463.3C750 481.3 825 492.7 862.5 498.3L900 504L900 601L862.5 601C825 601 750 601 675 601C600 601 525 601 450 601C375 601 300 601 225 601C150 601 75 601 37.5 601L0 601Z"
]


setInterval(function(previous){
    let x = previous;
    while(x === previous){
        x = Math.floor(Math.random() * (6))
    }
    morph(waveTops[x])
    previous = x;

}, 2000);


// Get the modal
let help = document.getElementById("helper");

// Get the button that opens the modal
let btn = document.getElementById("helpButton");

// Get the <span> element that closes the modal
let span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  help.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  help.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target === help) {
    help.style.display = "none";
  }
}




</script>
</body>

</html>