html{
    color: #9AC7D9;
    background-color: #0D2340;
    Font-family: Consolas, monaco, monospace;
}

svg {overflow: hidden;
    padding: 0;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: auto;}

body{
    align-content: center;
    align-items: center;
}

h1{
    position: absolute;
}


section{

}
