html{
    color: #9AC7D9;
    Font-family: Consolas, monaco, monospace;
}

svg {overflow: visible;
    position: absolute;
    background-color: #0D2340}

body{
    align-content: center;
    align-items: center;
}

h1{
    position: absolute;
}


section{

}
